= simple_form_for @event do |f|
  .row
    = f.input :title
  .row
    = f.input :slug
  .row
    = f.input :body
  .row
    = f.input :registration_from, as: :datetime, html5: :true,
        wrapper_html: { class: 'small-6' }
    = f.input :registration_to, as: :datetime, html5: :true,
        wrapper_html: { class: 'small-6' }
  .row
    .columns
      = f.button :submit, class: 'success'
