%h1 Events

%table
  %thead
    %tr
      %th Title
      %th Slug
      %th From
      %th To
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.title, event
        %td= event.slug
        %td= event.registration_from
        %td= event.registration_to
        %td.button-group.small
          = link_to 'Edit', edit_event_path(event), class: 'button hollow'
          = link_to 'Destroy', event, :method => :delete,
              :data => { :confirm => 'Are you sure?' },
              class: 'button hollow alert'

%br

= link_to 'New Event', new_event_path, class: 'button success'
