!!! 5
%html{ :lang => "de" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Anmelder"

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    =# we need the row class so that foundation can recognize inner rows
    .outer-container.row
      .inner-container.column

        - if notice
          .callout.success{ data: { closable: true } }
            %button.close-button{ data: { close: true } }
              %span &times;
            %p= notice

        = yield
