!!! 5
%html{ :lang => "de" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Anmelder"

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    .container

      - if notice
        .callout.success{ data: { closable: true } }
          %p= notice
          %button.close-button{ data: { close: true } }
            %span &times;

      = yield
